@import url("https://fonts.googleapis.com/css2?family=Alata&family=Gayathri:wght@100;400;700&family=Krona+One&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Lexend+Peta&family=Montserrat:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body {
  margin: 0px;
  font-family: "Lexend Peta", sans-serif;
  background-color: rgb(248, 241, 233);
}
/* Global header, banner, navigation and footer */

header {
  background-color: rgb(88, 51, 35);
  text-align: center;
  font-size: 50%;
  color: white;
  padding: 1.5vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.banner h2 {
  color: rgb(73, 40, 26);
  position: absolute;
  font-size: 2vw;
  left: 20%;
  top: 30%;
}
.banner {
  margin-bottom: -4px;
}
.banner img {
  width: 100%;
  object-fit: cover;
  max-height: 80vh;
  margin-top: 5vh;
}
.main-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 85%;
}
nav {
  background-color: rgb(167, 104, 75);
  position: sticky;
  margin: 0 auto;
  top: 5vh;
  z-index: 1;
}
nav li {
  display: inline-block;
  color: white;
  padding: 0vh 4vw;
}
nav li:hover {
  text-decoration: underline;
}
a {
  color: white;
  text-decoration: none;
}
footer {
  background-color: rgb(167, 104, 75);
  padding: 2vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.6vh;
}
footer img {
  height: 8%;
  width: 8%;
  margin: auto;
  padding: 1vh;
}

/* Index Page */

h3 {
  text-align: center;
  padding: 5vh 5vw;
  margin-top: 10vh;
}
.box-prophets {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 3vh 5vw;
  margin-bottom: 15vh;
}
.portrait {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.portrait-li {
  list-style: none;
  text-align: center;
}
.portrait:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

/* Citat */

.citat {
  font-size: 100%;
  font-style: italic;
  letter-spacing: -1px;
  color: rgb(0, 0, 0);
  margin: 20vh 20vw;
  text-align: left;
}
.citat a {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-size: 80%;
  margin: 1vh 1vw;
}

/* About Page */

.about-text h2 {
  text-align: center;
  margin: 12vh;
}
.about-text {
  text-align: left;
  margin: 10vh 15vw;
  letter-spacing: -1px;
}
h4 {
  margin-bottom: 22vh;
}
h4 a {
  color: black;
}
.join {
  background-color: rgb(88, 51, 35);
  color: white;
  text-align: center;
}
.join h2 {
  color: white;
  background-color: rgb(167, 101, 76);
  display: inline-block;
  padding: 1.2vh;
  margin: 9vh;
}
form input {
  margin: 0.5vh 10vw;
  border-radius: 30px;
  border: 10px solid white;
  color: rgb(0, 0, 0);
  background-color: white;
  font-family: "Lexend Peta", sans-serif;
}
.submit {
  background-color: rgb(167, 101, 76);
  margin: 0.5vh 10vw;
  border-radius: 30px;
  border: 12px solid rgb(167, 101, 76);
  color: white;
  font-size: 1.8vh;
  font-family: "Lexend Peta", sans-serif;
  margin-top: 4vh;
  margin-bottom: 15vh;
}
.submit:hover {
  cursor: pointer;
  font-family: "Lexend Peta", sans-serif;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
  border: 12px solid rgb(185, 118, 93);
  background-color: rgb(185, 118, 93);
}

/* Media Queries */

@media only screen and (max-height: 650px) {
  nav {
    top: 9vh;
  }
}
@media only screen and (max-height: 500px) {
  nav {
    top: 11vh;
  }
}
@media only screen and (max-height: 400px) {
  nav {
    top: 13vh;
  }
}
