body {
  margin: 0px;
  font-family: Arial;
}
header {
  background-color: rgb(112, 69, 44);
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

/* background: url("xxx") center center / cover; */

header h1 {
  font-size: 20px;
  color: white;
  padding: 12px;
  border: 3px solid white;
  display: inline-block;
  border-radius: 30px;
}
.banner {
  position: relative;
  width: 100%;
  text-align: center;
  top: 88px;
  left: 0;
}
.banner h2 {
  color: white;
  position: absolute;
  left: 10%;
  top: 20%;
}
.banner img {
  width: 100%;
  max-width: px;
  margin-bottom: 65px;
  background: center center / cover;
}
nav {
  background-color: rgb(177, 127, 108);
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 96px;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
nav li {
  width: 30%;
  display: inline-block;
  font-size: 15px;
  color: white;
}
main {
  max-width: 100%;
  width: 1200px;
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}
h3 {
  text-align: center;
}
h4 {
  margin: 100px;
}
h4 a {
  color: black;
}
p {
  color: rgb(0, 0, 0);
  text-align: center;
}

ol {
  list-style: none;
}
.container {
  display: flex;
  margin: 30px 30px;
}
.container p {
  text-align: center;
}

.portrait {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px 10px;
}
.portrait:hover {
  position: relative;
  width: 300px;
  height: 300px;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.citat {
  font-size: 20px;
  font-style: italic;
  color: rgb(185, 133, 113);
  margin: 20px 60px;
  font-family: Georgia;
}
.citat a {
  color: rgb(185, 133, 113);
  font-style: normal;
  font-size: 17px;
}
.join {
  background-color: rgb(177, 127, 108);
  color: white;
  text-align: center;
  padding: 60px 0;
}
form input {
  margin: 5px 20px;
  border-radius: 30px;
  border: 10px solid white;
  color: rgb(112, 69, 44);
  background-color: white;
}
.submit:hover {
  color: rgb(138, 78, 63);
  cursor: pointer;
}
footer {
  background-color: rgb(177, 127, 108);
  padding: 10px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}
footer img {
  height: 10%;
  width: 10%;
}
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 16px;
  }
  .banner h2 {
    color: white;
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 15px;
  }
  .container {
    display: block;
  }
  nav li {
    width: 100%;
    display: block;
    font-size: 15px;
    color: white;
  }
  nav {
    top: 89px;
  }
}
